<style>
    *{
        margin:0;
        padding: 0 ;
    }
    ul{
        list-style: none;
        width:212px;
        border:1px solid black;
        margin:0;
        padding: 0;
    }
    li{
        cursor: pointer;
        height:30px;
        line-height:30px;
        color:white;
        font-size:14px;
        background: url(./mg.png)no-repeat 185px center;
        background-color:#cc2021;
        text-indent: 20px;
   
    }
    #top{
        height:40px;
        line-height: 45px;
        font-family: "宋体";
        background: url(./mg2.png)no-repeat 184px center;
        background-color: #b5221a;
    }
    
</style>